.container {
  display: flex;
}

.content {
  margin-left: 10px;
}

.exit {
  width: 50px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.deviations {
  width: 500px;
  height: 100%;
  background-color: white;
}

.deviation {
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  width: 70%;
  height: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #f6f6f6;
}

.deviation:active {
  background-color: #f6f6f6;
}
