* {
  padding: 0px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.exit {
  margin-left: 25px;
}
