.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-top: 1px solid #d6d6d6;
}

.button__wrapper {
  background-color: none;
  border: none;
}

.button__img {
}

.button__text {
}
